@import url(config.css);

.header {
    width: 100%;
    z-index: 1000;
    background-color: var(--white);
    position: fixed;
    top: 0;
}

.container_header {
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 999;
    top: -10px;
}

.container_header .list_header {
    padding: 4rem;
    padding: 0 2rem;
    display: flex; 
    justify-content: space-around;
}

.container_header .list_header a{
    font-family: var(--font-inter);
    font-size: 2rem;
    color: var(--secondary);
    transition: all .3s;
    margin-right: 4rem;
}

.list_header a:hover {
    color: var(--primary);
}

.section_main  {
    padding: 10rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
}

.section_main .container_main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_main .container_main .iam {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1rem;
}

.section_main .container_main .subtitulo_main {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 3rem;
    margin-top: 1rem;
}

.section_main .container_main .titulo_main{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 7.5rem;
    letter-spacing: .1rem;
    color: var(--primary);
}

.section_main .navigation_main .list_main{
    display: flex;
    gap: 3rem;
    margin-top: 10rem;
}

.section_main .navigation_main .list_main .icons{
    font-size: 3rem;
    transition: all .3s;
    color: var(--primary);
}

.section_main .navigation_main .list_main .icons:hover {
    color: var(--accent);
}

.section_two {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    max-width: 140rem;
    margin: 0 auto;
    padding-bottom: 10rem;
    background-color: var(--accent);
}

.section_two .foto_perfil {
    max-height: 40rem;
    box-shadow:0 -.5px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
}

.section_two .section_two_container {
    max-width: 80rem;
    background-color: var(--white);
    padding: 0.5rem 1rem 1rem 1rem;
    box-shadow:0 -.5px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
}

.section_two .section_two_container p{
    padding: 0 2rem 0 5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--black);
    min-width: 50rem;
  }


.section_timeline {
    margin:auto;
    max-width: 180rem;
    max-width: 90%;
    font: inherit;
    font-size: 150%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section_title {
    text-align: center;
    margin: auto;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--primary);
    margin-bottom: 50px;
}

.timeline {
    max-width: 150rem;
    margin: auto;
    position: relative;
}

.timeline::before {
    position: absolute;
    content:"";
    width: 2px;
    background-color: var(--primary);
    height: 100%;
    left: 50%;
    z-index: 15;
}

.timeline .item {
    width: 50%;
    padding: 0.5rem 1rem 1rem 1rem;
    position: relative;
    box-shadow:0 -.5px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15);
}

.timeline .item.right {
    position: relative;
    left: 51%;
}

.timeline .item.left {
    position: relative;
    left: -1%;
}

.item::before {
    position: absolute;
    right: -2.7%;
    top: 0.5rem;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    box-shadow: .1rem 0rem 1rem .1rem var(--primary);
    background-color: var(--primary);
}

.timeline .item.right::before {
    left: -2.3%;
}

.timeline p{
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    color: var(--main-font-color);
  }

.timeline .timeline_date {
    color: var(--primary);
    font-family: var(--font-barlow);
    font-size: 90%;
}

.timeline .timeline_date.left {
    text-align: right;
}

.timeline .timeline_date.right {
    color: var(--primary);
    margin-bottom: 10px;
}

.timeline .timeline_item_title {
 padding-left: 0.4rem;
 margin-bottom: 0.5rem;
}

.section_skills {
    max-width: 120rem;
    font-size: 150%;
    position: relative;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title_skills {
    text-align: center;
    margin: auto;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--primary);
    margin-bottom: 50px;
}

.section_skills .container_skills {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section_skills .skill {
    width: 29.7rem;
    height: 6rem;
    border-radius: .5rem;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
}

.section_skills .container_skills i{
    font-size: 3rem;
    color: var(--primary);
}

.section_skills .container_skills p{
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    color: var(--main-font-color);
  }








@media (max-width: 767px) {
.section_two {
    flex-direction: column;
} 

.foto_perfil {
    margin-bottom: 5rem;
    height: 35rem;
}
.section_timeline {
    max-width: 95%;
}

.timeline::before {
    left: 3%;
}

.timeline .item {
    width: 90%;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.timeline .item.right, .timeline .item.left {
    left: 1%;
}

.timeline .item.left::before, .timeline .item.right::before {
    left: -4%;
}

.timeline_container {
    padding: 15px;
    position:relative;
}
.timeline .timeline_date.left {
    margin-bottom: 10px;
    text-align: left;
}
}

@media (min-width: 768px) and (max-width: 1000px){
.section_two {
    flex-direction: column;
} 

.foto_perfil {
    margin-bottom: 5rem;
}

.item::before{
    right: -3.3%;
}
.timeline .item.right::before {
    left: -2.8%;
}



}

@media (min-width: 1001px) and (max-width: 1300px){
.foto_perfil {
    margin-left: 5rem;       
}
.item::before{
    right: -2.9%;
}
.timeline .item.right::before {
    left: -2.5%;
}
}