@import url(config.css);

.header {
    width: 100%;
    z-index: 1000;
    background-color: var(--secondary);
    position: fixed;
    top: 0;
}

.container_header {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 999;
    top: -10px;
}

.container_header .list_header {
    padding: 4rem;
    padding: 0 2rem;
    display: flex; 
    justify-content: space-around;
}

.container_header .list_header a{
    font-family: var(--font-poppins);
    font-size: 2rem;
    color: var(--accent);
    transition: all .3s;
    margin-right: 4rem;
}

.list_header a:hover {
    color: var(--white);
    text-shadow: 1px 1px 3px var(--white);
    transition: 0.5s;
}

.section_main  {
    padding: 10rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
}

.section_main .container_main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_main .container_main .iam {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--white);
}

.section_main .container_main .subtitulo_main {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--white);
}

.section_main .container_main .titulo_main{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 7.5rem;
    letter-spacing: .1rem;
    color: var(--accent);
    transition: 0.5s;
}

.section_main .container_main .titulo_main:hover{
    color: var(--white);
    text-shadow: 1px 1px 5px var(--white);
}

.section_main .navigation_main .list_main{
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}

.section_main .navigation_main .list_main .icons{
    font-size: 3rem;
    transition: all .3s;
    color: var(--accent);
}

.section_main .navigation_main .list_main .icons:hover {
    color: var(--white);
    border-radius: 100%;
    box-shadow: 0rem 0rem 1rem .1rem var(--white);
}

.section_two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 140rem;
    margin: 0 auto;
    padding-bottom: 10rem;
    background-color: var(--secondary);
}

.section_two .foto_perfil {
    max-height: 40rem;
}

#section_two_text {
    padding: 2rem 0rem 2rem 0rem;
    width: 80rem;
}

.section_two .section_two_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 370px;
    max-width: 120rem;
    max-width: 90%;
    background-color: var(--secondary);
    padding: 1rem 1rem 1rem 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: var(--accent);
    border-radius: 2rem;
    
}

.section_two .section_two_container p{
    padding: 0 4rem 0 5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--accent);
    transition: 0.6s;
  }

.section_two .section_two_container p:hover{
    color: var(--white);
    text-shadow: 1px 1px 2px var(--white);
}

.section_timeline {
    margin:auto;
    max-width: 180rem;
    max-width: 90%;
    font: inherit;
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--cinza);
}

.section_title {
    text-align: center;
    margin: auto;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--primary);
    margin-bottom: 30px;
}


.timeline {
    max-width: 120rem;
    margin: auto;
    position: relative;
}

.timeline::before {
    position: absolute;
    content:"";
    width: 2px;
    background-color: var(--primary);
    height: 100%;
    left: 50%;
    z-index: 15;
}

.timeline .item {
    width: 50%;
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    background-color: var(--white);
    box-shadow: 7px 7px rgba(0,0,0,.05);
    border: 1px solid #c9c9c9;
    border-radius: 10px;
}

.timeline .item:hover {
    box-shadow: 5px 5px rgba(0,0,0,.1);
    border: 1px solid #B0B0B0;
    transition: 0.5s;
}

.timeline .item.right {
    position: relative;
    left: 51%;
}

.timeline .item.left {
    position: relative;
    left: -1%;
}

.item::before {
    position: absolute;
    right: -3%;
    top: 1.5rem;
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    box-shadow: .1rem 0rem 1rem .1rem var(--primary);
    background-color: var(--primary);
}

.timeline .item.right::before {
    left: -2.5%;
}

.timeline p{
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 370;
    color: var(--main-font-color);
    font-size: 115%;
    word-spacing:5px;
    margin-bottom: 0.3rem;
  }

.timeline_skills_container {
    margin-top: 10px;
    padding: 1rem 2rem .5rem 2rem;
    display: flex;  
    gap: 2rem;
    flex-wrap: wrap;
} 

.timeline_skill {
    height: 3rem;
    border-radius: 3rem;
    background-color: rgba(23, 69, 195, 0.15);
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2rem;
    padding: .5rem .5rem .5rem .5rem;
    box-shadow: 0rem 0rem 1rem .2rem rgba(23, 69, 195, 0.15);
}

.timeline_skill p{
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--font-barlow);
    font-weight: 600;
    color: var(--primary);
    margin: auto;
}
.timeline .timeline_date {
    color: var(--primary);
    font-family: var(--font-barlow);
    font-size: 110%;
}

.timeline .timeline_date.left {
    text-align: right;
    font-size: 110%;
}

.timeline .timeline_date.right {
    color: var(--primary);
    margin-bottom: 10px;
    font-size: 110%;
}

.timeline .timeline_item_title {
    padding-left: 0.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-inter);
    font-weight: 450;
    color: var(--secondary);
    font-size: 120%;
}

.section_skills {
    background-color: var(--secondary);
    padding-top: 30px;
}

.title_skills {
    text-align: center;
    margin: auto;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    color: var(--accent);
}

.inner_section_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 150rem;
    max-height: 100rem;
    font-size: 150%;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: var(--secondary);
}

.section_skills .container_skills {
    margin: auto;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-width: 1px;
    border-color: var(--accent);
    border-style: solid;
    border-radius: 1rem;
    padding: 1rem .5rem 1rem .5rem;
    width: 40rem;
}
.section_skills .container_skills_title_div{
    width: 100%;
    margin-bottom: -2rem;
}
.section_skills .container_skills h3{

    display: inline;
    position: relative;
    bottom: 2rem;
    left: 3rem;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: var(--accent);
    background-color: var(--secondary);
    padding: 0 1rem 0 1rem;
}

.section_skills .container_skills h4{
    width: 100%;
    text-align: center;
    margin: auto;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: var(--accent);
}

.section_skills .skill {
    width: 18rem;
    height: 5rem;
    border-radius: .5rem;
    background-color: var(--accent);
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
}

.section_skills .skill:hover {
    background-color: white;
    transition: 0.8s;
    box-shadow: 0rem 0rem 1rem .1rem var(--white);
}


.section_skills .container_skills i{
    font-size: 3rem;
    color: var(--primary);
}

.section_skills .container_skills p{
    padding: 0 0.5rem 0 0.5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    color: var(--main-font-color);
  }








@media (max-width: 767px) {

.section_main .container_main .subtitulo_main {
    text-align: center;
}

.section_main .container_main .titulo_main{
    text-align: center;
}

.section_two {
    flex-direction: column;
} 

.section_two .section_two_container p{
    padding: 0 .5rem 0 .5rem;
    font-size: 1.5rem;
  }

.foto_perfil {
    margin-bottom: 5rem;
    height: 35rem;
    margin: auto;  
}

.section_timeline {
    max-width: 95%;
}

.timeline::before {
    left: 3%;
}

.timeline .item {
    width: 90%;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.timeline .item.right, .timeline .item.left {
    left: 1%;
}

.timeline .item.left::before, .timeline .item.right::before {
    left: -4%;
}

.timeline_container {
    padding: 15px;
    position:relative;
}
.timeline .timeline_date.left {
    margin-bottom: 10px;
    text-align: left;
}

.inner_section_skills {
    flex-direction: row;
    max-height: 100%;
}

}

@media (min-width: 768px) and (max-width: 1000px){
.section_two {
} 

.foto_perfil {
    margin-bottom: 5rem;
    margin: auto;  
}

.item::before{
    right: -3.3%;
}
.timeline .item.right::before {
    left: -2.8%;
}

.section_skills .container_skills {
    width: 35rem;
    
}

.section_skills .skill {
    width: 15rem;
    height: 5rem;
    gap: 1rem;
    padding-left: 1rem;
}

}

@media (min-width: 1001px) and (max-width: 1300px){
.foto_perfil {
    margin: auto;      
}

#section_two_text{
    margin: auto;
  }

.item::before{
    right: -2.9%;
}
.timeline .item.right::before {
    left: -2.5%;
}
}