footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 15rem;
    background-color: var(--gray);
    gap: 2rem;
    border-top: 1px solid rgba(0,0,0,.15);
}

.list_footer {
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}

.list_footer i{
    font-size: 3rem;
    transition: all .3s;
    color: var(--primary);
}

footer p{
    font-size: 150%;
}