.section_main  {
    padding: 10rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    height: 60rem;
}

.section_main .container_main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_main .container_main .iam {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--white);
}

.section_main .container_main .subtitulo_main {
    font-family: var(--font-poppins);
    font-weight: 200;
    font-size: 3rem;
    margin-top: 1rem;
    color: var(--white);
}

.section_main .container_main .titulo_main{
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 7.5rem;
    letter-spacing: .1rem;
    color: var(--accent);
    transition: 0.5s;
}

.section_main .container_main .titulo_main:hover{
    color: var(--white);
    text-shadow: 1px 1px 5px var(--primary);
}

.section_main .navigation_main .list_main{
    display: flex;
    gap: 3rem;
    margin-top: 5rem;
}

.section_main .navigation_main .list_main .icons{
    font-size: 3rem;
    transition: all .3s;
    color: var(--accent);
}

.section_main .navigation_main .list_main .icons:hover {
    color: var(--white);
    border-radius: 100%;
    box-shadow: 0rem 0rem 1rem .1rem var(--white);
}

.section_two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 140rem;
    margin: auto;
    background-color: var(--cinza);
    height: 30rem;
}

.section_two .foto_perfil {
    max-height: 40rem;
}

#section_two_text {
    padding: 2rem 0rem 2rem 0rem;
    width: 80rem;
}

.section_two .section_two_container {
    position: relative;
    top: -12rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 370px;
    max-width: 120rem;
    max-width: 90%;
    padding: 1rem 1rem 1rem 2rem;
    background-color: var(--white);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #c9c9c9;
    border-radius: 10px;
}

.section_two .section_two_container p{
    padding: 0 4rem 0 5rem;
    font-family: var(--font-poppins);
    font-weight: 300;
    font-size: 1.8rem;
    color: var(--main-font-color);
    transition: 0.6s;
  }

.section_two .section_two_container p:hover{
    color: var(--primary);
    transition: 0.6s;
}

@media (max-width: 463px) {

.section_main{
    height: 100rem;
}

.foto_perfil {
    margin-bottom: 5rem;
    height: 28rem;
    margin: auto;  
}

.section_two {
    height: 50rem;
    width:100%;
}

.section_two .section_two_container {
    top: -28rem;
    max-width:90%;
    min-width: 20rem;
}

.section_main .container_main .subtitulo_main {
    text-align: center;
    font-size: 2.5rem;
}

.section_main .container_main .titulo_main{
    text-align: center;
    font-size: 5rem;
}

.section_two {
    flex-direction: column;
} 

.section_two .section_two_container p{
    padding: 0 .5rem 0 .5rem;
    font-size: 1.5rem;
}
}

@media (min-width: 464px) and (max-width: 767px) {
.section_main  {
    height: 80rem;
}

.section_two {
    height: 50rem;
}

.section_two .section_two_container {
    top: -22rem;
}

.section_main .container_main .subtitulo_main {
    text-align: center;
    font-size: 2.5rem;
}

.section_main .container_main .titulo_main{
    text-align: center;
    font-size: 5rem;
}

.section_two {
    flex-direction: column;
} 

.section_two .section_two_container p{
    padding: 0 .5rem 0 .5rem;
    font-size: 1.5rem;
    }

.foto_perfil {
    margin-bottom: 5rem;
    height: 35rem;
    margin: auto;  
}
}

@media (min-width: 768px) and (max-width: 1000px){
.section_main  {
    height: 80rem;
}

.section_two {
    height: 60rem;
}

.section_two .section_two_container {
    top: -22rem;
}

.section_main .container_main .subtitulo_main {
    text-align: center;
    font-size: 3rem;
}

.section_main .container_main .titulo_main{
    text-align: center;
    font-size: 6rem;
}

.foto_perfil {
    margin-bottom: 5rem;
    margin: auto;  
}
}

@media (min-width: 1001px) and (max-width: 1336px){
.section_main  {
    height: 80rem;
}

.section_two {
    height: 50rem;
}

.section_two .section_two_container {
    top: -22rem;
}

.foto_perfil {
    margin: auto;      
}

#section_two_text{
    margin: auto;
    }
}