.section {
    max-width: 140rem;
    padding-top: 15px;
    padding-bottom: 10rem;
    margin: auto;
    /* background-color: green; */
}

.interests_container{
    display: flex;
    align-items: space-around;
    align-content: center;
    margin: auto;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}

.section_areas_of_interest h2{
    margin-top: 15px;
    margin-bottom: 50px;
}

.interest {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-height: 22rem;
    max-width: 38rem;
    gap: 2rem;
}

.interest_title_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.interest_title_div img{
    width: 35px;
    height: 35px;
}

.interest_title_div h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 2.3rem;
    padding: 0 1rem 0 1rem;
}

.interest p{
    text-align: center;

}